.item { 
  margin-bottom: 10px;
  white-space: nowrap;
}

.item a {
  color: white;
  text-decoration: none;
}

.item .activeLink {
  color: gold;
}

.item img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  vertical-align: middle;
  line-height: 30px;
}

.navTxt {
  line-height: 30px;
  /* vertical-align: -8px; */
}
