.item a {
  color: white;
  text-decoration: none;
  font-size: 10px;
}

.item .activeLink {
  color: gold;
}

.item img {
  width: 30px;
  height: 30px; 
}

.friendName {  
  text-align: center;
}

.item {
  align-self: center;
  justify-self: center;
}


